.movie-container {
    /* width: 1440px; */
    max-width: 100%;
    height: 100vh;
    display: flex;
    gap: 24px;
    background-color: #000000;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 256px;
    background-color: #1E1E1E;
}

.side-bar-list .active {
    background-color: #58209D;
}

.movie-logo {
    display: flex;
    align-items: center;
    gap: 12.24px;
    margin: 30px 0 100px 0;
    padding-left: 47px;
    transition: transform 0.5s ease-out;
}

.logo-img {
    width: 39.76px;
    height: 41.33px;
}

.logo-text {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    color: #C3C8D4;
    font-weight: 400;

}

.movie-logo:hover {
    transform: scale(1.1);
}

.side-bar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #AEAEAE;
    font-size: 14px;
}

.side-bar-item {
    font-display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 0 12px 47px;
    transition: background-color 0.3s ease;
}

.side-bar-item:hover {
    background-color: #58209D;
    color: #FFFFFF;
}

.side-bar-item-icon {
    padding-right: 13px;
}

.side-bar-item-icon img {
    width: 15px;
    height: 15px;
}

.logout {
    margin-top: 400px;
    cursor: pointer;
    padding-left: 47px;
    transition: opacity 0.3s ease;
}

.logout:hover {
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 130px;
    flex: 2;
    padding: 30px 75px 24px 0;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:30px 116px 24px 0px; */
}

.greeting h3 {
    font-size: 13px;
    font-weight: 500;
    color: #CCCCCC;
}

.greeting h1 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.admin-profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding-right: 40px;
}

#create-btn {
    background-color: #9B51E0;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px 22px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#create-btn:hover {
    background-color: #7a39b3;
}

.admin-profile img {
    width: 31px;
    height: 31px;
    border-radius: 50%;
}

.admin-profile {
    cursor: pointer;
}

.admin-profile span {
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 6px;
}


/*Movie1 Table Styles*/

.movie-table {
    width: 100%;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
}

.movie-table .movie-icon {
    padding-right: 15px;
}


.table-thead {
    background-color: #1E1E1E;
    border-radius: 4px;
}


.table-thead th {
    font-size: 14px;
    font-weight: 400;
    color: #F2F2F2;
    border: none;
}

.edit-btn,
.delete-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.edit-btn i {
    color: #4CAF50;
    font-size: 18px;
    margin-right: 10px;
}

.delete-btn i {
    color: #F44336;
    font-size: 18px;
}

/*Movie2 Modal Styles*/

.movies-modal {
    background-color: #171616;
    color: #FFFFFF;
    display: flex;
    gap: 84px;
    padding: 50px 30px 80px 30px;
    width: 60%;
    margin: auto;
    border-radius: 8px;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.modal-left {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;
    flex: 4;
}

.movie-table {
    position: relative;
}

.movies-modal .input {
    border: 1px solid #323B54;
    background-color: transparent;
    padding: 16px 10px;
    font-size: 14px;
    width: 100%;
    color: #FFFFFF;
    outline: none;
}

.movies-modal .input::placeholder {
    color: #4d515f;
}

.category-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.category-dropdown .selected-option {
    border: 1px solid #323B54;
    background-color: transparent;
    padding: 16px 10px;
    font-size: 14px;
    color: #4d515f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-dropdown .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #171616;
    border: 1px solid #323B54;
    border-top: none;
    z-index: 1;
}

.category-dropdown:hover .options {
    display: block;
}

.category-dropdown .option {
    padding: 10px;
    font-size: 14px;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.category-dropdown .option:hover {
    background-color: #2f3032;
}

.modal-right .modal-image {
    width: 203px;
    height: 283px;
    border-radius: 8px;
    object-fit: cover;
}

.modal-right {
    flex: 1;
}

.modal-checkbox-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.checkbox-label {
    padding-right: 1.41px;
    font-size: 14px;
    font-weight: 400;
    color: #4d515f;
}

#btn-submit {
    background-color: #9B51DE;
    padding: 5px 20.5px;
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    border:none;
    border-radius: 5px;
}


#btn-submit:hover {
    background-color: #7a39b3;
    cursor: pointer;
}