@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.landing-page-container{
  width:100%;
  height: auto;
}

.hero-section .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.518), rgb(0, 0, 0)); /* şəklin qaralığı */
  z-index: 1;
}

.hero-section{
  width:100%;
  height: 780px;
  position: relative;
  background: url('assets/images/hero-image.png');
}

.hero-content{
  position: absolute;
  z-index:2;
  display: flex;
  flex-direction: column;
  gap:40px;
  width:100%;
}

.filmalisa-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.filmalisa-logo img{
  height: 60px;
  width: 62px;
  padding-bottom: 10px;
}

.logo-name{
  font-family:'Numans';
  font-size:30px;
  font-weight: 400;
  color:#C3C8D4;
}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin:auto;
  padding: 30px 0px;
}

.about-filmalisa{
  text-align: center;
  margin-top:180px;
}

.about-filmalisa h1{
  color: #FFFFFF;
  font-size:48px;
  font-weight: 700;
}

.about-filmalisa :nth-child(2){
  font-size: 24px;
  font-weight: 400;
  color:#FFFFFF;
}

.about-filmalisa :nth-child(3){
  font-size: 20px;
  font-weight: 400;
  color:#FFFFFF;
}

.sign-in-btn{
  color:#ffff;
  background-color: #9B51E0;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 4px;
  border:none;
  transition: background-color .3s ease;
}

.sign-in-btn:hover{
  background-color: #7a39b3;
}


.filmalisa-form{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}

.filmalisa-form .email-input{
  height:56px;
  width:368px;
  outline:none;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 6px;
  padding-left: 10px;
  color:#ffff;
  font-size: 16px;
  font-weight: 500; 
}

.start-btn{
  background-color:#9B51E0;
  font-size: 20px !important;
  font-weight: 500;
  border:none;
  border-radius: 4px;
  color: #ffff;
  padding: 12px 24px;
  transition: background-color .3s ease;
}

.start-btn:hover{
  background-color: #7a39b3;
}


/* ---- Features Section ---- */
.features-section{
  width: 100%;
  margin:auto;
  background-color: #000000;
  height: 558px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 5px solid #2A2A2A;
}

.features-container{
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.features-content{
  display: flex;
  flex-direction: column;
  gap:12px;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
}

.features-title{
  font-size: 48px;
  font-weight: 700;
  color:#FFFFFF;
  align-self: flex-start;
  padding-left: 30px;
}

.features-description{
  font-size: 24px;
  font-weight: 400;
  color:#FFFFFF;
  width: 600px;
}

.features-image{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-image img{
  width: 546px;
  height: 410px;
  object-fit: cover;
}


/*Contactus Section*/
.contactus-section{
  height: 650px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #2A2A2A;
}

.contactus-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contactus-title{
  font-size: 48px;
  font-weight: 700;
  color:#FFFFFF;  padding-left: 30px;
}

.contactus-form input{
  width: 478px;
  height: 56px;
  border: 1px solid #808080;
  border-radius: 6px;
  background-color: transparent;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  outline: none;
  margin-top: 26px;
}

.contactus-form textarea{
  width: 478px;
  height: 122px;
  border: 1px solid #808080;
  border-radius: 6px;
  background-color: transparent;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  outline: none;
  margin-top: 26px;
  padding-top: 10px;
}

.contactus-btn{
  background-color:#9B51E0;
  font-size: 20px !important;
  font-weight: 500;
  border:none;
  border-radius: 4px;
  color: #ffff;
  padding: 8px 54px;
  transition: background-color .3s ease;
  margin-top: 26px;
}

.contactus-btn:hover{
  background-color: #7a39b3;
}

/*FAQ Section*/
.faq-section{
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #2A2A2A;
  padding-bottom: 72px;
}

.faq-container{
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
}

.faq-title{
  font-size: 48px;
  font-weight: 700;
  color:#FFFFFF;
  padding-left: 30px;
  padding-bottom: 24px;
}

.faq-item{
  height: 84px;
  width:80%;
  margin:auto;
  background-color: #2A2A2A;
  font-family: 'Nunito Sans';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item h2{
  color:#FFFFFF;
  font-size: 24px;
  font-weight: 400;
  align-self: center;
}

.faq-item-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-left: 30px;
  padding-right: 30px;
}

/*Footer Section*/

.footer{
  background-color: #000000;
}

.footer-container{
  font-family: "Roboto", sans-serif;
  width: 60%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-list-item{
  color: #B3B3B3;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  transition: color .3s ease;
}

.footer-list-item:hover{
  color: #FFFFFF;
}