.favorite-container {
    position: relative;
    background-color: #1D1D1D;
    width:100%;
    height: auto;
    margin:auto;
    padding-bottom:200px;
}

/*Heaader*/
.movie-header{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding:0px 10px 0px 10px;
    backdrop-filter: blur(7px) brightness(70%);
}

.movie-header .logo-img{
    padding: 60px 0px 64px 0px;
}

.movie-header-list{
    display: flex;
    flex-direction: column;
    gap:80px;
}

.movie-header-list img{
    width:32px;
    height: 32px;
}

.movie-headerlist .list-item{
    transition: all .3s ease;
}

.movie-header-list .list-item:hover{
    transform: scale(0.9);
  }

  .movie-header-list .active{
    filter: brightness(0) saturate(100%) invert(66%) sepia(34%) saturate(1068%) hue-rotate(162deg) brightness(92%) contrast(98%);
  }
  

/*Favorite Movies Section*/
.favorite-movies-section{
    /* margin: 200px 60px 150px 60px; */
  padding: 150px 0px 0px 60px;
}


.favorite-movies-cards{
    display: flex;
    align-items: center;
}

.favorite-movies-title{
    font-size:35px;
    font-weight: 500;
    color:#FFFFFF;
    padding-left: 20px;
    padding-bottom: 30px;
}

.favorite-movie-card1,
.favorite-movie-card2,
.favorite-movie-card3{
    position: relative;
}

.favorite-movie-card1 img,
.favorite-movie-card2 img,
.favorite-movie-card3 img{
    width:400px;
    height: 600px;
    flex:1;
}

.movie-category-name{
    /* display: inline-flex; */
    color: rgb(97, 207, 244);
    font-size: 14px;
    font-weight: 400;
    backdrop-filter: brightness(70%);
    padding:5px 10px;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    bottom:130px;
    left:30px;
}

.movie-title{
    font-size: 28px;
    font-weight: 500;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    left:30px;
    width:400px;
}

.rating-stars{
    position: absolute;
    bottom: 80px;
    left:30px;
    height: 40px;
    color:#fff;
    display:flex;
}

.rating-stars i{
    font-size: 12px;
}

