.body {
  background-color: #0f0f0f;
  height: 100vh;
}

/* ---- Bədən ---- */
.login-container {
  background-color: radial-gradient(circle at center, #141414, #000);
  margin-top:90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo {
  width: 249px;
  height: 214px;
  height: auto;
}

/* ---- Başlıq ---- */

.admin-login-title {
  font-family: 'Numans';
  margin-bottom: 25px;
  font-size: 70px;
  font-weight: 400;
  color: #C3C8D4;
  margin: 16px 0px 40px 0px;
}

/* ---- Input-lar ---- */
.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  position: relative;

}

.login-input img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 34px;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.login-input img:first-child {
  left: 12px;
}

#password-eye {
  right: 12px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

#password-eye:hover {
  opacity: 1;
}

#login-username,
#login-password {
  width: 547px;
  height: 64px;
  margin-bottom: 16px;
  border: 1px solid #323B54;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  transition: outline 0.5s ease;
  color:#ffff;
  padding:0px 0px 0px 40px;
  position: relative;
  z-index: 1;
}

  #login-username:-webkit-autofill,
#login-username:-webkit-autofill:hover,
#login-username:-webkit-autofill:focus,
#login-username:-webkit-autofill:active,
#login-password:-webkit-autofill,
#login-password:-webkit-autofill:hover,
#login-password:-webkit-autofill:focus,
#login-password:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1D1D1D inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #323B54;
  background-color: transparent !important;
}


#login-username::placeholder,
#login-password::placeholder {
  color: #475069;
}

#login-username:hover,
#login-password:hover {
  outline: none;
  outline: 1px solid #b264ff;
}


/* ---- Düymə ---- */
#login-btn{
  width:100%;
  padding: 14px;
  margin-top: 15px;
  background-color: #9B51E0;
  color: #ffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}


#login-btn:hover {
    background-color: #7a39b3;
}