.movie-container {
    /* width: 1440px; */
    max-width: 100%;
    height: 100vh;
    display: flex;
    gap: 24px;
    background-color: #000000;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 256px;
    background-color: #1E1E1E;
}

.side-bar-list .active {
    background-color: #58209D;
}

.movie-logo {
    display: flex;
    align-items: center;
    gap: 12.24px;
    margin: 30px 0 100px 0;
    padding-left: 47px;
    transition: transform 0.5s ease-out;
}

.logo-img {
    width: 39.76px;
    height: 41.33px;
}

.logo-text {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    color: #C3C8D4;
    font-weight: 400;

}

.movie-logo:hover {
    transform: scale(1.1);
}

.side-bar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #AEAEAE;
    font-size: 14px;
}

.side-bar-item {
    font-display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 0 12px 47px;
    transition: background-color 0.3s ease;
}

.side-bar-link:hover {
    color: #ffff;
}

.side-bar-item:hover {
    background-color: #58209D;
    color: #FFFFFF;
}

.side-bar-item-icon {
    padding-right: 13px;
}

.side-bar-item-icon img {
    width: 15px;
    height: 15px;
}

.logout {
    margin-top: 400px;
    cursor: pointer;
    padding-left: 47px;
    transition: opacity 0.3s ease;
}

.logout:hover {
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 130px;
    flex: 2;
    padding: 30px 75px 24px 0;
}

/*Top Section Styles*/

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:30px 116px 24px 0px; */
}

.greeting h3 {
    font-size: 13px;
    font-weight: 500;
    color: #CCCCCC;
}

.greeting h1 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.admin-profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding-right: 40px;
}

#create-btn {
    background-color: #9B51E0;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px 22px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#create-btn:hover {
    background-color: #7a39b3;
}

.admin-profile img {
    width: 31px;
    height: 31px;
    border-radius: 50%;
}

.admin-profile {
    cursor: pointer;
}

.admin-profile span {
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 6px;
}


/*Actors Table Styles*/

.actors-table {
    width: 70%;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.actors-table .movie-icon {
    padding-right: 15px;
}


.head-table {
    background-color: #1E1E1E;
    border-radius: 4px;
}

.actors-table th {
    padding: 20px;
}

.actors-table td {
    padding: 10px;
}

.head-table th {
    font-size: 14px;
    font-weight: 400;
    color: #F2F2F2;
    border: none;
}

.body-table {
    color: #000000;
    background-color: #ffff;
}

.body-table .movie-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.edit-btn,
.delete-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.edit-btn i {
    font-size: 18px;
    margin-right: 10px;
}

.delete-btn i {
    font-size: 18px;
}


/*Actors Modal Styles*/

.actors-modal {
    background-color: #171616;
    color: #FFFFFF;
    display: flex;
    gap: 50px;
    padding: 50px 30px 80px 30px;
    width: 700px;
    margin: auto;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.actors-table {
    position: relative;
}

.actors-modal .input {
    border: 1px solid #323B54;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 16px 10px;
    font-size: 14px;
    width: 100%;
    color: #FFFFFF;
    outline: none;
}

.actors-modal .input::placeholder {
    color: #4d515f;
}

.actors-img-wrapper img{
    border-radius: 12px;;
}
.submit-btn {
    background-color: #9B51E0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:100%;
}

.submit-btn:hover {
    background-color: #7a39b3;
}

.actors-edit-modal{
   background-color: #171616;
    color: #FFFFFF;
    display: flex;
    gap: 50px;
    padding: 50px 30px 80px 30px;
    width: 700px;
    margin: auto;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.actors-edit-modal .input {
    border: 1px solid #323B54;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 16px 10px;
    font-size: 14px;
    width: 100%;
    color: #FFFFFF;
    outline: none;
}

/* .actors-form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
} */

.actor-edit-img{
    border-radius: 12px;
    width: 180px;
    height: 260px;
    object-fit: cover;
}

.actors-delete-modal{
    background-color: #171616;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px 40px 30px;
    width: 400px;
    margin: auto;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.actors-delete-modal h3{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.delete-modal-buttons{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.actors-delete-modal .delete-btn{
    background-color: #9B51E0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.actors-delete-modal .delete-btn:hover {
    background-color: #7a39b3;
}

.actors-delete-modal .cancel-btn{
    background-color: #BBBBBB;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.actors-delete-modal .cancel-btn:hover {
    background-color: #888888;
}


/* Pagination Styles */
.pagination-nav {
    align-self: center;
}

.page-item .page-link {
    background-color: #ffff;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid #000000;
}

.page-item .page-link:hover {
    background-color: #7a39b3;
    color: #ffff;
    border: none;
    cursor: pointer;
    border: 1px solid #000000;
}

.page-item {
    color: #000000;
    border: none;
}

.page-item.active .page-link {
    background-color: #9B51DE !important;
    border: 1px solid #000000;
}