.search-container {
    position: relative;
    background-color: #1D1D1D;
    width:100%;
    height: auto;
    margin:auto;
    padding: 150px 0px 200px 0px;
}

/*Heaader*/
.movie-header{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding:0px 10px 0px 10px;
    backdrop-filter: blur(7px) brightness(70%);
}

.movie-header .logo-img{
    padding: 60px 0px 64px 0px;
}

.movie-header-list{
    display: flex;
    flex-direction: column;
    gap:80px;
}

.movie-header-list img{
    width:32px;
    height: 32px;
}


  .movie-headerlist .list-item{
    transition: all .3s ease;
}

.movie-header-list .list-item:hover{
    transform: scale(0.9);
  }

  .movie-header-list .active{
    filter: brightness(0) saturate(100%) invert(66%) sepia(34%) saturate(1068%) hue-rotate(162deg) brightness(92%) contrast(98%);
  }
  

/*Search Section*/
.search-movies-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:90%;
   padding-bottom:40px;
}

.search-field img{
    padding-left:10px;
}

#search-input{
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    border-radius:4px;
    height: 48px;
    width:281px;
    border: 1px solid #808080;
    background-color: transparent;
    color:#BCBCBC;
    outline:none;
}


.search-movies-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:90%;
}

.search-movies-title{
    font-size:35px;
    font-weight: 500;
    color:#FFFFFF;
    /* padding-left: 10px; */
    padding-bottom: 30px;
}

.search-movie-card1,
.search-movie-card2,
.search-movie-card3,
.search-movie-card4{
    position: relative;
}

.search-movie-card1 img,
.search-movie-card2 img,
.search-movie-card3 img,
.search-movie-card4 img{
    width: 292px;
    height: 440px;
    flex-basis: 20%;
}

.movie-category-name{
    /* display: inline-flex; */
    color: rgb(97, 207, 244);
    font-size: 14px;
    font-weight: 400;
    backdrop-filter: brightness(70%);
    padding:5px 10px;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    bottom:110px;
    left:30px;
}

.movie-title{
    font-size: 24px;
    font-weight: 500;
    width: 200px;
    color: #FFFFFF;
    position: absolute;
    bottom:20px;
    left:30px;
}

.rating-stars{
    position: absolute;
    bottom:65px;
    left:30px;
    height: 40px;
    color:#fff;
    display:flex;
}

.rating-stars i{
    font-size: 12px;
}