.detailed-container {
    background-color: #1D1D1D;
    width:100%;
    height: auto;
    margin:auto;
    padding-bottom:30px;
}

.hero-cover-img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.hero-cover{
    position: relative;
}

.movie-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding:0px 10px 0px 10px;
    backdrop-filter: blur(7px) brightness(70%);
    height: 650px;
}

.movie-header .logo-img{
    padding: 60px 0px 64px 0px;
}

.movie-header-list{
    display: flex;
    flex-direction: column;
    gap:80px;
}

.movie-header-list img{
    width:32px;
    height: 32px;
}

.movie-hero-info{
    height: 139px;
    width:715px;
    padding:35px 0px 35px 40px;
    backdrop-filter: blur(40px) brightness(80%);
    position: absolute;
    bottom: 250px;
    left:120px;
    z-index: 100;
    border-radius: 24px;
}

.movie-hero-info h3{
  font-size: 12px;
  font-weight: 400;
  color:#BEB7FB;
}

.movie-hero-info h1{
   font-size:32px;
   font-weight: 600;
   color:#EBEEF5;
}

/* Movie Info Section */
.movie-info-section{
    display: flex;
    align-items: center;
    margin: 150px 0px;
}

.movie-info-cover{
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex
}

.movie-info-content{
    flex:1;
}

.movie-info-cover img{
    width:573px;
    height: 786px;
}

.movie-info-title{
    display: inline;
    font-size: 30px;
    font-weight: 700;
    color:#EBEEF5;
}

.movie-info-title span{
    font-size: 16px;
    font-weight: 400;
    color: #FFAD49;
    background-color: #000000A6;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #000000A6;
    }
}

.add-fav-icon{
    padding-left: 50px;
    cursor: pointer;
}

.movie-info-description{
    font-size: 22px;
    font-weight: 400;
    color:#8E95A9;
    width: 670px;
    padding-top: 20px;
}

.movie-info-rating{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color:#FFBD6D;
    background-color: #000000A6;
    font-size:16px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 8px;
}

.movie-info-items-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 26px 0px;
}

.movie-info-item{
    flex-basis: 30%
}

.movie-info-item p{
    font-size: 16px;
    font-weight: 400;
    color: #767E94;
}

.movie-info-item h1{
    font-size: 20px;
    font-weight: 400;
    color: #C3C8D4;
}

.movie-info-top-cost{
    color:#FFFFFF;
    font-size: 26px;
    font-weight: 500;
}

/* Movie Comment Section */
.movie-comment-section{
    padding:0px 120px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.comment-form{
    display: flex;
    gap: 20px;
    width: 100%;
    position: relative;
}

.comment-form input{
    width: 50%;
    height: 64px;
    border-radius: 12px;
    border: 1px solid #323B54;
    background-color: transparent;
    color:#FFFFFF;
    font-size: 14px;
    padding: 0px 57px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

.comment-form input::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #475069;
}

.comment-form button{
    width: 68px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #9B51E0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button img:hover{
    transform: scale(0.85);
}

.comment-form .profile-img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 24px;
    height: 24px;
}

.comments-container{
    padding: 60px 0px 0px 0px;
}

.comment-item{
    width:600px;
    height: auto;
    border-radius: 12px;
    border: 1px solid #323B54;
    color:#C3C8D4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.comment-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.comment-content .profile-img{
    width: 24px;
    height: 24px;

}

.comment-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-content span{
    font-size: 16px;
    font-weight: 400;
    color: #C3C8D4;
}


.comment-content .comment-profile-name{
    font-size: 16px;
    font-weight: 400;
    color: #C3C8D4;
    display: inline;
    padding-left: 7px;
}

/*Similar Movies Section*/
.similar-movies-section{
    margin: 200px 60px 150px 120px;
}


.similar-movies-cards{
    display: flex;
    align-items: center;
}

.similar-movies-title{
    font-size:35px;
    font-weight: 500;
    color:#FFFFFF;
    padding-bottom: 30px;
}

.similar-movie-card1,
.similar-movie-card2,
.similar-movie-card3{
    position: relative;
}

.similar-movie-card1 img,
.similar-movie-card2 img,
.similar-movie-card3 img{
    width:504px;
    height: 736px;
    flex:1;
}

.movie-category-name{
    /* display: inline-flex; */
    width: 120px;
    color:#0FEFFD;
    font-size: 14px;
    font-weight: 400;
    backdrop-filter: brightness(70%);
    padding:5px 10px;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    bottom:120px;
    left:30px;
}

.movie-title{
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    position: absolute;
  
    left:30px;
    width:400px;
}

.movie-stars{
    position: absolute;
    bottom:120px;
    left:30px;
    width:40px;
    height: 40px;
}

.similar-movie-card1 .movie-title{
    bottom: 60px;
}

.similar-movie-card2 .movie-title{
    bottom:30px;
}

.similar-movie-card3 .movie-title{
    bottom:30px;
}